.DS_Store
.ropeproject/
.ipynb_checkpoints/
__pycache__/
paper/
src/__pycache__/
models/__pycache__/
src/multi_gpu/__pycache__/
checkpoints/
log/
.idea/
preprocessed_data/
inputs/
tf_logs/
test_logs/
train_logs/
logs/
data/
*.html
*.pyc
*.pdf
*.docx
*.doc
